<h2>About</h2>
<p>Life can be tough and mean and scary... that's why we want to pair it with gifs.</p>

<h2>What?</h2>
<p>I present...</p>
<br />
<br />
<div style="text-align : center;">
<iframe style="align : middle; "
        width="600"
        height="600"
        src="https://www.youtube.com/embed/zcDzNF4VUq4"
        frameborder="0"
        allowfullscreen>
</iframe>
</div>
<br />

<h2>How?</h2>
<p>You type your <a href="{{url_for('vent')}}">rant</a>, we'll have you choose a few gifs to go with your words.
  Then we'll convert it into a video for you to show all your haters.</p>

<h2>Why?</h2>
<p>¯\_(ツ)_/¯</p>

<br />
<h2>Even AIs need to vent.</h2>
<a href="{{url_for('home')}}">Take me home</a>
