<h4><a href="/">My Story</a></h4>
<h6>Page {{ count }}</h6>
{% if count != -1 %}
  <p>Click one of the gifs to represent the sentence.</p>
{% endif %}
<h4>{{ sentence }}</h4>
<br />
{%- for content in contents %}
  <img class="gifDisplay" style="border-color : purple;" width=340
    onclick="return selectionMade('{{ content }}', this, '{{downloadLinks[loop.index-1]}}')"
    src="{{ content }}" />
{%- endfor %}
<p>Or insert the url of a gif</p>
<br />


<br />
<br />
{% if count == -1 %}

<h2>Share this story:</h2>
<p>We'll give you a link to share to Facebook. Your story won't be shared on this site without your permission.</p>
<form id="shareStory" method="get" action="{{ url_for('saveStory')}}">
  <input type="hidden" name="story" value="{{ story }}" />
  <input name type="submit" value="share story" />
</form>
<br />
<br />
<h2>Re-make it:</h2>
{% endif %}
<form id="storyPost" method="post" action="{{ url_for('createGIFStory', page = count + 1) }}">
  <input type="hidden" name="story" value="{{ story }}" />
  <input type="hidden" id="selectedGIF" name="selectedGIF"  />
  <input type="hidden" id="selectedMP4" name="selectedMP4"  />


  {% if count == -1 %}
  <input type="submit" value="start over">
  {% else %}
  <input type="submit" value="next page">
  {% endif %}


</form>

<br />
<br />
<h4>Full Story Transcript</h4>
{{ story }}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
</script>

<script type="text/javascript">
  function selectionMade(url, selected, downloadLink) {

    //De-select all gifs
    var gifs = document.querySelectorAll(".gifDisplay");
    for (var i = 0; i < gifs.length; i++) {
      gifDisplay = gifs[i];
      gifDisplay.border = 0
    }

    //Select gif clicked
    document.getElementById("selectedGIF").value = url
    document.getElementById("selectedMP4").value = downloadLink
    selected.border = 3
  };
</script>
