<h4><a href="/">Penguin Jeffrey</a></h4>
<h6>Page {{ count }}</h6>
{% if count != -1 %}
  <p>Click one of the gifs to represent the sentence.</p>
{% endif %}
<h4>{{ sentence }}</h4>
<br />
{%- for content in contents %}
  <img class="gifDisplay" style="border-color : purple;" width=340
    onclick="return selectionMade(this)"
    src="{{ content }}" />
{%- endfor %}


{% if count != -1 %}
<img class="gifDisplay" id="userGIF" style="border-color : purple; display: none;" width=340
  onclick="return selectionMade(this)"
  alt="Could not load, make sure url ends in .gif"
  src="" />

<p>Or insert the url of a gif: </p>
<input type="text" width="400" id="userGIFURL" name="userGIFURL" >
<input onclick="displayUserGif()" type="submit" value="load gif">

<br />
{% endif %}


<br />
<br />
{% if count == -1 %}

<h2>Share this vent:</h2>
<!--
<p>We'll give you a link to share to Facebook. Your story won't be shared on this site without your permission.</p>
-->
<form id="shareStory" method="get" action="{{ url_for('saveStory')}}">
  <input type="hidden" name="story" value="{{ story }}" />
  <input type="submit" value="preview it" />
</form>
<br />
<br />
<h2>Re-make it:</h2>
{% endif %}
<form id="storyPost"
        method="post"
        action="{{ url_for('createGIFStory', page = count + 1) }}"
        onsubmit="return validateForm()">

  <input type="hidden" name="story" value="{{ story }}" />
  <input type="hidden" id="selectedGIF" name="selectedGIF" value="" />


  {% if count == -1 %}
  <input type="submit" value="start over">
  {% else %}
  <input type="submit" value="next page">
  {% endif %}


</form>

<br />
<br />
<h4>Your Vent</h4>
{{ story }}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
</script>



<script type="text/javascript">
  function validateForm() {
    var selectedGIF = document.forms["storyPost"]["selectedGIF"].value;
    if (selectedGIF == "") {
      alert("Please selected a GIF :D");
      return false;
    }
  };

  function displayUserGif() {
    var gifURL = document.getElementById("userGIFURL").value;
    document.getElementById("userGIF").src = gifURL;
    document.getElementById("userGIF").style = "border-color : purple; display: block;"
  };

  function selectionMade(selected) {

    //De-select all gifs
    var gifs = document.querySelectorAll(".gifDisplay");
    for (var i = 0; i < gifs.length; i++) {
      gifDisplay = gifs[i];
      gifDisplay.border = 0
    }

    //Select gif clicked
    document.getElementById("selectedGIF").value = selected.src
    selected.border = 3
  };
</script>
