<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
</script>
<script src="{{ url_for('static', filename='jquery.countdown.js') }}"></script>


<h2>Featured Vents:</h2>



<div style="text-align: center; font-size: 40px;" id="getting-started"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("{{toDate}}", function(event) {
    $(this).text(
      event.strftime('Stories will refresh in: %I:%M:%S')
    );
  });
</script>

<br />
<br />
<div style="text-align : center;">
<iframe style="align : middle; "
        width="600"
        height="600"
        src="{{ videoURL }}"
        frameborder="0"
        allowfullscreen>
</iframe>
</div>



<a href="">Previous Vent</a>
<a style="float:right;" href="">Next Vent</a>
