<h2>Describe something that happened today:</h2>
<p>Type in a few sentences</p>


<form id="storyPost" method="post" action="{{ url_for('createGIFStory', page = 0) }}">
  <textarea name='story' id="story" rows="25" cols="100"></textarea>
  <br />
  <input type="submit" value="create story">
</form>

<br />
<br />
<h2>Stories created by other people at UCLA:</h2>

{% if stories is defined %}
  {% for story in stories %}
    <a href="{{url_for('.story', id = story.id, page = 0)}}">{{story.title}} ({{story.genre.lower()}})</a> <br />
  {% endfor %}
{% endif %}

<br />
<br />
