<h2>Your newly created story:</h2>

{%- for content in contents %}
<div style="float: left; padding-right: 10px;">
  <img  class="gifDisplay" style="border-color : purple;" height=300 src="{{ content }}" />
  <p style="text-align: center;">{{sentences[loop.index-1]}}</p>
</div>

{%- endfor %}

<br />


<div style="float: none; clear:both; ">

<h2>Add some finishing details</h2>
<form id="shareStory" method="post" action="{{ url_for('saveStory')}}">

  Make Public: <select name="isPublic">
    <option value='1'>Yes</option>
    <option value='0'>No</option>
  </select> <br /> <br />
  Public vents will be converted into a video <a href="{{ url_for('about') }}"
                                                target=__blank>like this</a>
  and shared on this site.<br />
  <input type="hidden" name="story" value="{{ story }}" />
  <input type="hidden" id="urls" name="urls" value="{{ contents }}" /> <br />
  <input name type="submit" value="Save Story" />
</form>


</div>

<br />
