<head>
  <meta property="og:url"           content="{{shareData.link}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Penguin Jeffrey: share stories made with gifs" />
  <meta property="og:description"   content="{{shareData.sentence}}" />
  <meta property="og:image"         content="{{shareData.gif}}" />
  <meta property="fb:app_id"        content="1294182727369924" />
</head>

<!-- Load FB Javascript SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1294182727369924',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- page -->

<h4><a href="/">Story</a></h4>

<h4 style="text-align:center;" id="page">Page {{ count + 1 }} / {{ length }}</h4>
<br />

<div style="text-align:center;">
  <img style="align:middle;" id="content" src="{{ content }}" />
</div>

 <br />
<h2 style="text-align:center;" id="sentence">{{ sentence }}</h2>

<form style="text-align:center;" id="storyPost" action="{{ url_for('story', id = story.id, page = (count + 1) ) }}">

  <input  type="submit" value="next page" />

</form>

{% if count == 0 %}
<div class="fb-share-button"
   data-href="{{shareData.link}}"
   data-layout="button">
</div>
{% endif %}

{% if count == -1 %}
<h4> This story has been viewed {{views + 1}} times</h4>
<div class="fb-share-button"
   data-href="{{shareData.link}}"
   data-layout="button">
</div>
{% endif %}
